{% extends 'base.html' %}

{% block container %}
    <form id="investment-search">
        <div class="form-inline row mb-3">
            <div class="input-group col-sm-10">
                <div class="input-group-prepend">
                    <span class="input-group-text">Investment</span>
                </div>
                <input type="text" class="form-control" id="investment-key"
                       placeholder="Enter ID" aria-label="Investment Name">
            </div>
            <button type="submit" class="btn btn-primary col-sm-2">
                Search
            </button>
        </div>
    </form>

    <form id="investment-create" hidden>
        <div class="form-inline row mb-3">
            <label class="col-sm-7">
                Investment does not exist. Create it?
            </label>
            <button type="submit" class="btn btn-primary col-sm-2">
                Create
            </button>
        </div>
    </form>

    <form id="investment-update">
        <fieldset id="update-fieldset" disabled>
            <div class="form-inline row mb-3">
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control"
                           id="investment-amount"
                           placeholder="0"
                           aria-label="Investment Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-sm-2">
                    Update
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}