{% extends 'base.html' %}

{% block container %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    <form method="post">
        <div class="input-group row mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input type="text" class="form-control"
                   placeholder="username" name="username" aria-label="Username">
        </div>

        <div class="input-group row mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" class="form-control"
                   placeholder="" name="password" aria-label="Password">
        </div>

        <button type="submit" class="btn btn-primary row mb-3">
            Login
        </button>
    </form>
{% endblock %}